@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

.wrapper {
  margin: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 0.5px solid rgb(230, 230, 230);
  background-color: #ffffff;
  margin-top: 0.5px;
}

li:hover {
  font-weight: bolder;
}

.todostrike {
  cursor: pointer;
  text-decoration: line-through;
  opacity: 30%;
}

.todo {
  cursor: pointer;
}

.listBox {
  max-width: 600px;
}

.listBox p {
  margin-left: 30px;
  width: 80%;
  height: 20px;
}

.inputField {
  margin-top: 5px;
  max-width: 600px;
  display: flex;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s box-shadow;
  margin: 0;
  padding-left: 30px;
  font-style: italic;
}

.underBlock {
  display: flex;
  border: 0.5px solid rgb(230, 230, 230);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-top: 0.5px;
  background-color: #ffffff;
  align-items: center
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  /* border: 0.5px solid rgb(185, 185, 185); */
}

.count {
    font-weight: bolder;
}

.delbtn {
  margin-right: 40px;
  border: none;
  cursor: pointer;
  width: 40px;
  border-radius: 5px;
  border: 0.5px solid rgb(185, 185, 185);
}

.delbtn:hover {
  background-color: rgb(223, 223, 223);
}