@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

.wrapper {
  margin-top: 0;
  margin: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 0.5px solid rgb(230, 230, 230);
  background-color: #ffffff;
  margin-top: 0.5px;
}

h1 {
  max-width: 600px;
  text-align: center;
  font-weight: lighter;
  color: red;
  opacity: 20%;
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.todo::before {
  content: " ";
  margin-right: 20px;
}

.todostrike::before {
  content: "✓";
  margin-right: 20px;
}

li:hover {
  font-weight: bolder;
}

.todostrike {
  cursor: pointer;
  opacity: 30%;
  width: 80%;
}

.todo {
  cursor: pointer;
  width: 80%;
}

.taskItems {
  max-width: 600px;
}

.taskItems p {
  margin-left: 30px;
  height: 20px;
}

.inputField {
  max-width: 600px;
  display: flex;
  height: 52px;
}

input {
  display: block;
  width: 100%;
  margin: 10px;
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding-left: 30px;
  font-style: italic;
  outline: none;
}

.underBlock {
  display: flex;
  border: 0.5px solid rgb(230, 230, 230);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin-top: 0.5px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.count {
  font-weight: bolder;
}

.delbtn {
  margin-right: 40px;
  border: none;
  cursor: pointer;
  width: 40px;
  border-radius: 5px;
  border: 0.5px solid rgb(185, 185, 185);
  opacity: 50%;
}

.delbtn:hover {
  background-color: rgb(223, 223, 223);
  opacity: 80%;
}

.sections {
  display: flex;
}

.sections button {
  margin: 0 3px 0 3px;
  opacity: 80%;
  border: 0.5px solid rgb(185, 185, 185);
  background-color: #fafafa;
}

.done_del {
  margin-right: 10px;
  opacity: 80%;
  border: 0.5px solid rgb(185, 185, 185);
  background-color: #fafafa;
}
